Pillow
torch
torchaudio
torchvision
cmake
gdown
omegaconf
pandas
pydicom
nibabel
pytorch-lightning
PyYAML==6.0
scikit-image
scikit-learn==1.0.2
scipy
sklearn==0.0
protobuf==3.19.5
timm
wandb
matplotlib
ipywidgets
